extends layout

block head
  meta(charset='urf-8')
  title FRIB Cable :: cable :: #{number}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  //- link(rel='stylesheet', href='/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href='/stylesheets/style.css')


block content
  script.
    var sysSub = !{JSON.stringify(sysSub)};
  .container
    #message
    h3 Cable
      =' '
      span#cableId #{number}
    .btn-group(data-toggle='buttons-radio')
      button.btn.btn-info#show-history.active Show update history
      button.btn.btn-info#hide-history Hide update history
    h4 reference request
    a#request(target='_blank')
    h4 status
    span#status
    h4 version
    span#version
    h4 basic
    div project:
      = ' '
      span(name='basic.project')
    div engineer:
      = ' '
      span(name='basic.engineer')
    div wbs:
      = ' '
      span(name='basic.wbs')
    div origin categrary:
      = ' '
      span(name='basic.originCategory')
      = ' - '
      span(name='originCategoryName')
    div origin subcategory:
      = ' '
      span(name='basic.originSubcategory')
      = ' - '
      span(name='originSubcategoryName')
    div signal classification:
      = ' '
      span(name='basic.signalClassification')
      = ' - '
      span(name='signalClassificationName')
    div cable type:
      = ' '
      span(name='basic.cableType')
    div service:
      = ' '
      span(name='basic.service')
    div tray section:
      = ' '
      span(name='basic.traySection')
    div tags:
      = ' '
      span(name='basic.tags')


    h4 from
    div rack:
      = ' '
      span(name='from.rack')
    div termination device:
      = ' '
      span(name='from.terminationDevice')
    div termination type:
      = ' '
      span(name='from.terminationType')
    div wire drawing:
      = ' '
      span(name='from.wireDrawing')

    h4 to
    div rack:
      = ' '
      span(name='to.rack')
    div termination device:
      = ' '
      span(name='to.terminationDevice')
    div termination type:
      = ' '
      span(name='to.terminationType')
    div wire drawing:
      = ' '
      span(name='to.wireDrawing')

    h4 conduit
    span(name='conduit')

    h4 length
    span(name='length')
    = ' ft'

    h4 comments
    span(name='comments')
    h4 workflow
    ol
      li submitted by
        = ' '
        a#submittedBy(target='_blank')
        = ' '
        | on
        = ' '
        span#submittedOn
      li approved by
        = ' '
        a#approvedBy(target='_blank')
        = ' '
        | on
        = ' '
        span#approvedOn
    //- if (cable.orderedOn)
    //-   dt ordered by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.orderedBy)}', target='_blank') #{cable.updatedBy}
    //-   dt ordered on
    //-   dd #{cable.orderedOn}
    //- if (cable.receivedOn)
    //-   dt received by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.receivedBy)}', target='_blank') #{cable.receivedBy}
    //-   dt received on
    //-   dd #{cable.receivedOn}
    //- if (cable.acceptedOn)
    //-   dt accepted by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.acceptedBy)}', target='_blank') #{cable.acceptedOn}
    //-   dt accepted on
    //-   dd #{cable.acceptedOn}
    //- if (cable.labeledOn)
    //-   dt labeled by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.labeledBy)}', target='_blank') #{cable.labeledBy}
    //-   dt labeled on
    //-   dd #{cable.labeledOn}
    //- if (cable.benchTerminatedOn)
    //-   dt bench terminated by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.benchTerminatedBy)}', target='_blank') #{cable.benchTerminatedBy}
    //-   dt bench terminated on
    //-   dd #{cable.benchTerminatedOn}
    //- if (cable.benchTestedOn)
    //-   dt bench tested by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.benchTestedBy)}', target='_blank') #{cable.benchTestedBy}
    //-   dt bench tested on
    //-   dd #{cable.benchTestedOn}
    //- if (cable.pulledOn)
    //-   dt pulled by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.pulledBy)}', target='_blank') #{cable.pulledBy}
    //-   dt pulled on
    //-   dd #{cable.pulledOn}
    //- if (cable.fieldTerminatedOn)
    //-   dt field terminated by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.fieldTerminatedBy)}', target='_blank') #{cable.fieldTerminatedBy}
    //-   dt field terminated on
    //-   dd #{cable.fieldTerminatedOn}
    //- if (cable.fieldTestedOn)
    //-   dt field tested by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.fieldTestedBy)}', target='_blank') #{cable.fieldTestedBy}
    //-   dt field tested on
    //-   dd #{cable.fieldTestedOn}

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/dependencies/jsonpath.js')
  script(type='text/javascript', src='/dependencies/moment.js')
  script(type='text/javascript', src='/javascripts/cable.js')
