extends layout

block head
  meta(charset='urf-8')
  title FRIB Cable :: cable :: #{number}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  //- link(rel='stylesheet', href='/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href='/stylesheets/style.css')


block content
  script.
    var sysSub = !{JSON.stringify(sysSub)};
  .container
    #message
    h3 Cable
      =' '
      span#cableId #{number}
    .btn-group(data-toggle='buttons-radio')
      button.btn.btn-info#show-history Show update history
      button.btn.btn-info#hide-history.active Hide update history
    h4 reference request
    a#request(target='_blank')
    h4 status
    span#status

    h4 basic
    div project:
      = ' '
      span#project
    div engineer:
      = ' '
      span#engineer
    div wbs:
      = ' '
      span#wbs
    div origin categrary:
      = ' '
      span#originCategory
      = ' - '
      span#originCategoryName
    div origin subcategory:
      = ' '
      span#originSubcategory
      = ' - '
      span#originSubcategoryName
    div signal classification:
      = ' '
      span#signalClassification
      = ' - '
      span#signalClassificationName
    div cable type:
      = ' '
      span#cableType
    div service:
      = ' '
      span#service
    div tray section:
      = ' '
      span#traySection
    div tags:
      = ' '
      span#tags


    h4 from
    div rack:
      = ' '
      span#fromRack
    div termination device:
      = ' '
      span#fromTerminationDevice
    div termination type:
      = ' '
      span#fromTerminationType
    div wire drawing:
      = ' '
      span#fromWireDrawing

    h4 to
    div rack:
      = ' '
      span#toRack
    div termination device:
      = ' '
      span#toTerminationDevice
    div termination type:
      = ' '
      span#toTerminationType
    div wire drawing:
      = ' '
      span#toWireDrawing

    h4 comments
    span#comments
    h4 workflow
    ol
      li submitted by
        a#submittedBy(target='_blank')
        = ' '
        | on
        span#submittedOn
      li approved by
        a#approvedBy(target='_blank')
        = ' '
        | on
        span#approvedOn
    //- if (cable.orderedOn)
    //-   dt ordered by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.orderedBy)}', target='_blank') #{cable.updatedBy}
    //-   dt ordered on
    //-   dd #{cable.orderedOn}
    //- if (cable.receivedOn)
    //-   dt received by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.receivedBy)}', target='_blank') #{cable.receivedBy}
    //-   dt received on
    //-   dd #{cable.receivedOn}
    //- if (cable.acceptedOn)
    //-   dt accepted by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.acceptedBy)}', target='_blank') #{cable.acceptedOn}
    //-   dt accepted on
    //-   dd #{cable.acceptedOn}
    //- if (cable.labeledOn)
    //-   dt labeled by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.labeledBy)}', target='_blank') #{cable.labeledBy}
    //-   dt labeled on
    //-   dd #{cable.labeledOn}
    //- if (cable.benchTerminatedOn)
    //-   dt bench terminated by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.benchTerminatedBy)}', target='_blank') #{cable.benchTerminatedBy}
    //-   dt bench terminated on
    //-   dd #{cable.benchTerminatedOn}
    //- if (cable.benchTestedOn)
    //-   dt bench tested by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.benchTestedBy)}', target='_blank') #{cable.benchTestedBy}
    //-   dt bench tested on
    //-   dd #{cable.benchTestedOn}
    //- if (cable.pulledOn)
    //-   dt pulled by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.pulledBy)}', target='_blank') #{cable.pulledBy}
    //-   dt pulled on
    //-   dd #{cable.pulledOn}
    //- if (cable.fieldTerminatedOn)
    //-   dt field terminated by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.fieldTerminatedBy)}', target='_blank') #{cable.fieldTerminatedBy}
    //-   dt field terminated on
    //-   dd #{cable.fieldTerminatedOn}
    //- if (cable.fieldTestedOn)
    //-   dt field tested by
    //-   dd
    //-     a(href='/users?#{fs.encodeName(cable.fieldTestedBy)}', target='_blank') #{cable.fieldTestedBy}
    //-   dt field tested on
    //-   dd #{cable.fieldTestedOn}

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/dependencies/jsonpath.js')
  //- script(type='text/javascript', src='/javascripts/util.js')
  //- script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/javascripts/cable.js')
