extends layout

block content
  .container
    #message
    table.table-condensed
      thaed
        tr
          th System
          th Sub system
          th Signal type
          th Sequence
      tbody
        tr
          td
            select#system.input-small(disabled=true)
              option(value='', disabled=true) choose
          td
            select#sub.input-small(disabled=true)
          td
            select#signal.input-small(disabled=true)
              option(value='', disabled=true) choose
          td
            input#sequence.input-small(placeholder='######', disabled=true)
    .well
      h4 Decoding information
      p#detailed

block js
  script(type='text/javascript', src='/javascripts/jquery-1.9.1.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/javascripts/number.js')




