fieldset
  legend Basic information
  .control-group
    .control-label System
    .controls
      .input-append
        select#system.input(disabled=true, name='basic.system', required, data-validation-required-message='select system type')
          option(value='', disabled=true) choose
        span.add-on &nbsp
  .control-group
    .control-label Subsystem
    .controls
      .input-append
        select#sub.input(disabled=true, name='basic.subsystem', required, data-validation-required-message='select sub system type')
          option(value='', disabled=true) choose
        span.add-on &nbsp
  .control-group
    .control-label Signal
    .controls
      .input-append
        select#signal.input(disabled=true, name='basic.signal', required, data-validation-required-message='select signal type')
          option(value='', disabled=true) choose
        span.add-on &nbsp
  .control-group
    .control-label Type
    .controls
      .input-append
        input#type(type='text', name='basic.cableType')
        a.btn.btn-info(href='/cabletype', target='_blank') Browse
        a.btn.btn-info#type-details(disabled=true) Details
  .control-group
    .control-label Engineer
    .controls
      input#engineer(type='text', placeholder='Last, First', name='basic.engineer', required, data-validation-required-message='input engineer name')
  .control-group
    .control-label Function
    .controls
      input#function(type='text', name='basic.service')
  .control-group
    .control-label WBS
    .controls
      .input-append
        input#wbs(type='text', name='basic.wbs')
        a.btn.btn-info(href='/wbs', target='_blank') Browse
  .control-group
    .control-label Quality
    .controls
      input#quality(type='text', name='basic.quality', class='type[number]')
fieldset
  legend Source(from)
  .control-group
    .control-label Building
    .controls
      input#from-building(type='text', name='from.building')
      //- select#from-building.input(disabled=true)
      //-       option(value='', disabled=true) choose
  //- .control-group
  //-   .control-label Area
  //-   .controls
  //-     select#from-area.input(disabled=true)
  //-       option(value='', disabled=true) choose
  //- .control-group
  //-   .control-label Room
  //-   .controls
  //-     select#from-room.input(disabled=true)
  //-       option(value='', disabled=true)
  .control-group
    .control-label Rack
    .controls
      .input-append
        input#from-rack(type='text', name='from.rack')
        a.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
  .control-group
    .control-label Elevation
    .controls
      .input-append
        input#from-elevation(type='text', name='from.elevation', class='type[number]')
        span.add-on ft
  .control-group
    .control-label Termination device
    .controls
      .input-append
        input#from-termination(type='text', name='from.ternimationDevice')
        a.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
  .control-group
    .control-label Termination type
    .controls
      input#from-type(type='text', name='from.ternimationType')
  .control-group
    .control-label Wiring (pinout) drawing
    .controls
      input#from-drawing(type='text', name='from.wiringDrawing')
  .control-group
    .control-label Label "From"
    .controls
      input#from-label(type='text', name='from.label')
fieldset
  legend Destination(to)
  .control-group
    .control-label Building
    .controls
      input#to-building(type='text', name='to.building')
      //- select#to-building.input(disabled=true)
      //-       option(value='', disabled=true) choose
  //- .control-group
  //-   .control-label Area
  //-   .controls
  //-     select#to-area.input(disabled=true)
  //-       option(value='', disabled=true) choose
  //- .control-group
  //-   .control-label Room
  //-   .controls
  //-     select#to-room.input(disabled=true)
  //-       option(value='', disabled=true)
  .control-group
    .control-label Rack
    .controls
      .input-append
        input#to-rack(type='text', name='to.rack')
        a.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
  .control-group
    .control-label Elevation
    .controls
      .input-append
        input#to-elevation(type='text', name='to.elevation', class='type[number]')
        span.add-on ft
  .control-group
    .control-label Termination device
    .controls
      .input-append
        input#to-termination(type='text', , name='to.ternimationDevice')
        a.btn.btn-info(href='https://controls.frib.msu.edu/conf/index.xhtml', target='_blank') Browse
  .control-group
    .control-label Termination type
    .controls
      input#to-type(type='text', name='to.ternimationType')
  .control-group
    .control-label Wiring (pinout) drawing
    .controls
      input#to-drawing(type='text', name='to.wiringDrawing')
  .control-group
    .control-label Label "To"
    .controls
      input#to-label(type='text', name='to.label')
fieldset
  legend Routing
  .control-group
    .control-label Tray group
    .controls
      input#tray(type='text', name='routing.trayGroup')
  .control-group
    .control-label Penetration #
    .controls
      .input-append
        input#penetration(type='text', name='routing.penetration')
        a.btn.btn-info(href='https://portal.frib.msu.edu/dcc/Drawings/T20302-MDE-0007-0001.pdf', target='_blank') Browse
  .control-group
    .control-label Penetration Z position
    .controls
      input#position(type='text', name='routing.penetrationZ')
fieldset
  legend General information
  .control-group
    .control-label Fabricated by
    .controls
      input#fab(type='text', name='other.fabricatedBy')
  //- .control-group
  //-   .control-label Installed by
  //-   .controls
  //-     input#ins(type='text')
  .control-group
    .control-label Terminated by
    .controls
      input#term(type='text', name='other.terminatedBy')
  .control-group
    .control-label Comments
    .controls
      textarea.input-xlarge#comments(rows=3, name='other.comments')

