extends layout

block head
  meta(charset='utf-8')
  if (locals.id)
    title #{orgName} Cable :: request :: #{id}
  else
    title #{orgName} Cable :: new request
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  script.
    var sysSub = !{JSON.stringify(sysSub)};
  .container
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
        button.btn.btn-primary(data-dismiss='modal',aria-hidden='true') Return to edit
    form.form-horizontal(name='request')
      if (locals.id)
        h3 Cable Request &nbsp;
          span#requestId #{id}
      else
        h3 New Cable Request
      include requestform
      include request_action
block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/jquery/jquery.validate.js')
  script(type='text/javascript', src='/dependencies/binder.js')
  script(type='text/javascript', src='/dependencies/typeahead.js')
  script(type='text/javascript', src='/dependencies/moment.js')
  script(type='text/javascript', src='/dependencies/lodash.js')
  script(type='text/javascript', src='/javascripts/util.js')
  script(type='text/javascript', src='/javascripts/ajaxhelper.js')
  script(type='text/javascript', src='/javascripts/request.js')
